# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment folders
venv/
env/

# IDE or editor specific files (VS Code, JetBrains, etc.)
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

